@font-face {
    font-family: modern;
    src: url(/styles/fonts/Product\ Sans\ Regular.ttf);
  }
  
  @font-face {
    font-family: media;
    src: url(/styles/fonts/Product\ Sans\ Bold.ttf);
  }
  
  @font-face {
    font-family: destaque;
    src: url(/styles/fonts/Product\ Sans\ Regular.ttf);
  }

*{
    margin:0;
    padding: 0;
}

body{
    text-align: center;
    background-image: url(/styles/images/blob-scene-haikei.svg);
}


h1{
    font-family: 'destaque';
    font-size: 5em;
    color: rgb(76, 175, 80);
    margin-top: 0.7em;
}

h2{
    font-family: 'destaque';
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    color: rgb(76, 175, 80);
    border-bottom: 3px solid rgb(76, 175, 80);
    margin-top: 20px;
}

img{
    width: 15%;
    margin: 2em;
    margin-top: 50px;
}

footer {
    display: flex;
    position: fixed;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 15px;
}
  
footer p {
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: modern;
    font-weight: bold;
}
  
.space {
    text-decoration: none;
    color: rgb(76, 175, 80);
}

/* BUTTON */

button a{
    text-decoration: none;
    font-size: 35px;
    font-family: 'destaque';
    color: rgb(76, 175, 80);
    padding: 2em;
}

button a:hover{
    color: white;
}

.button{
    border: none;
    --color: rgb(76, 175, 80);
    padding: 0;
    background-color: transparent;
    border-radius: .8em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 3px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    height: 5em;
    margin-top: 30px;
}

   
.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
   
.button::before {
    top: -1em;
    left: -1em;
}
   
.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
   
.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}
   
.button:hover {
    color: white;
}
   
.button:active {
    filter: brightness(.8);
}
   

/* BUTTON */