@font-face {
  font-family: modern;
  src: url(/styles/fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
  font-family: media;
  src: url(/styles/fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
  font-family: destaque;
  src: url(/styles/fonts/Product\ Sans\ Regular.ttf);
}

body {
  font-family: 'media';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
.pages {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'modern';
}

.pages:hover {
  opacity: 0.7;
}

.logo {
  width: 90px;
  margin-left: 20px;
}

nav {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #191A19;
  height: 75px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/*HEADER*/

/* SECTION */

.title-box {
  height: min-content;
  padding-top: 150px;
}

.title {
  font-family: 'media';
  text-align: center;
  color: black;
  font-size: 40px;
}

.helpplus {
  color: #4C3575;
}

.description {
  padding-top: 10px;
  font-family: 'modern';
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 18px;
}

.description-box {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

/* CARDS */

.card-box {
  display: flex;
  margin: 40px;
  margin-left: 80px;
}

.card {
  -webkit-box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.75);
  margin-left: 40px;
  width: 190px;
  height: 254px;
  background: #371B58;
  border-radius: 15px;
}

.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #4C3575;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-family: 'modern';
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 20px;
}

.card .job {
  font-family: 'modern';
  font-weight: bold;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 15px;
}

.card .img {
  width: 70px;
  height: 80px;
  background: #4C3575;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.img2 {
  width: 70px;
  height: 80px;
  background: #4C3575;
  border-radius: 15px;
  margin: auto;
}

.card button {
  font-family: 'modern';
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  background: #4C3575;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.card button:hover {
  background: #472c77;
}

#card1 {
  margin-top: 60px;
}

#card3 {
  margin-top: 60px;
}

#card5 {
  margin-top: 60px;
}

/* CARDS */

/* SECTION */

/* RESPONSIVE */

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 43vw;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    margin-right: 0px;
    margin-right: 0px;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

}

.nav-list.active {
  transform: translateX(0);
  background: #191A19;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


/* RESPONSIVE */